.characterVideo {
    width: 100%;
    height: auto;
    z-index: 1000;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
}

.playVideo {
    animation-name: zoom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes zoom {
    0%   {transform: scale(1.0);}
    50%  {transform: scale(1.2);}
    100% {transform: scale(1.0);}
}

.quote { 
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn-1 ease 8s;
}
/* .fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
} */
@keyframes fadeIn-1{
    0% {
      opacity:0;
    }
    50% {
      opacity:1;
    }
    100% {
        opacity: 0;
    }
}

.quote-1 {
    top:9%;
    left: 18%;
    animation-delay: 2s;
}

.quote-2 {
    top:14%;
    left:38%;   
    animation-delay: 10s;
}

.quote-3 {
    top: 61%;
    left: 15%;
    animation-delay: 18s;
}

.quote-4 {
    top:67%;
    left: 57%;
    animation-delay: 26s;
}

/* Responsive Styles */
.d-only-sm-hide{
    display: block;
}

.d-only-sm-show {
    display: none;
}

.chapterSection {
    padding: 5%;
}

.right-section {
    width: 55%;
}

.logoHero {
    width: 100%;
    margin-left: -27%;
    z-index: 1001;
}

.hoverText{
    width: 100%;
    left: -15%;
    bottom: 15%;
}

.playVideo {
    width: 165px;
    margin-top: -20px;
}

.d-sm-flex {
    display: block;
}

.playVideoContainer {
    position: absolute;
    bottom: 5%;
    width: 100%;
    left: 0;
}

@media only screen and (max-width: 1024px) {
    .d-sm-flex {
        display: flex;
    }
    .d-only-sm-hide {
        display: none;
    }
    .d-only-sm-show {
        display: block;
    }
    .chapterSection {
        padding: 0;
    }
    
    .quote-group {
        display: none;
    }
    .right-section{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 0px;
        background-image: url('../../assets/MobileCharacterBack.jpg');
        background-size: cover;
        background-position: center center;
    }
    .logoHero {
        margin:0px 0px 45px 0px;
        /* margin-bottom: 45px; */
    }

    .hoverText {
        left: 0;
        bottom: 25%;
    }

    .h-sm-100{
        height: 100% !important;
    }

    .playVideoContainer {
        bottom: 17%;
    }
    /* .playVideo {
        margin-top: -88%;
    } */
}
