/* @import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); */

/*----------bootstrap-navbar-css------------*/

.hamburger-desktop {
    cursor: pointer;
}

.Navbar {
    z-index: 9000;
}

.navbar-mainbg {
	/* background-color: #5161ce; */
    border-right: 3px solid #795548;
    border-bottom: 3px solid #795548;
    border-left: 3px solid #795548;
    border-radius: 0px 0px 20px 20px;
    width: 40%;
    background-image: url('../assets/menuBackground.png');
	padding: 0px;
}
.hori-selector {
	display: inline-block;
	position: absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration: 0.6s;
	/* transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
	/* background-color: red; */
    background-image: url('../assets/selectedMenu.png');
    background-size: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right:before,
.hori-selector .left:before {
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	/* background-color: #5161ce; */
    background-image: url('../assets/menuBackground.png');
}

/* Coded By Simba */
.nav-bar-sub-menu {
    position: absolute;
    /* background-image: url('../assets/selectedMenu.png'); */
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    color: #303030;
    cursor: pointer;
}

.hidden-div {
    display: none;
}

/* New Transform Style */

.nav-desktop {
	width: 100%;
	display: flex;
	justify-content: center;
  }
  .menu {
	display: flex;
	justify-content: center;
	
	border-right: 3px solid #795548;
    border-bottom: 3px solid #795548;
    border-left: 3px solid #795548;
    border-radius: 0px 0px 20px 20px;
	padding: 0px 50px;
	margin: 0px;
    background-image: url('../assets/menuBackground.png');
	background-size: cover;
  }
  .dropdown {
	padding: 20px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.5);	
	background: transparent;
	/* background: #c06162;
	background: #34495e; */
	position: relative;
	font-size: 18px;
	font-weight: bold;

	perspective: 1000px;
	z-index: 100;
  }
  .dropdown:hover {
	/* background: #2980b9; */
	color: rgb(223, 215, 215);
	/* background-image: url('../assets/selectedMenu.png'); */
	background-size: cover;

	cursor: pointer;
  }
  .dropdown:hover .dropdown_menu li {
	display: block;
  }
  .dropdown_menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	perspective: 1000px;
	z-index: -1;
	background-image: url('../assets/selectedMenu.png');
	background-size: cover;
    border-radius: 0px 0px 20px 20px;
	padding: 0px;
	padding-bottom: 20px;
  }
  .dropdown_menu li {
	display: none;
	color: #303030;
	background-color: transparent;
	padding: 10px 0px 10px 25px;
	font-size: 16px;
	opacity: 0;
	text-align: left;
  }
  .dropdown_menu li:hover {
	/* background-color: #2980b9; */
    background-color: #41201345;

  }
  .menu a {
	  text-decoration: none;
  }
  .m-menu a {
	text-decoration: none;
  }
  .dropdown:hover .dropdown_menu--animated {
	display: block;
  }
  .dropdown_menu--animated {
	display: none;
  }
  .dropdown_menu--animated li {
	display: block;
	opacity: 1;
  }
  .dropdown_menu-6 {
	animation: growDown 300ms ease-in-out forwards;
	transform-origin: top center;
  }
  
  @-moz-keyframes growDown {
	0% {
	  transform: scaleY(0);
	}
	80% {
	  transform: scaleY(1.1);
	}
	100% {
	  transform: scaleY(1);
	}
  }
  @-webkit-keyframes growDown {
	0% {
	  transform: scaleY(0);
	}
	80% {
	  transform: scaleY(1.1);
	}
	100% {
	  transform: scaleY(1);
	}
  }
  @-o-keyframes growDown {
	0% {
	  transform: scaleY(0);
	}
	80% {
	  transform: scaleY(1.1);
	}
	100% {
	  transform: scaleY(1);
	}
  }
  @keyframes growDown {
	0% {
	  transform: scaleY(0);
	}
	80% {
	  transform: scaleY(1.1);
	}
	100% {
	  transform: scaleY(1);
	}
  }

.hamburger-desktop {
	width: 75px;
    height: 75px;
    right: 3%;
}

/* Mobile Nav Header Style */
/* * {
	padding: 0;
	margin: 0;
  }
   */
  .nav-mobile {
	background-color: transparent;
	height: 50px;
	padding: 0 16px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	/* fade in checked menu */
  }

  .nav-mobile label, .nav-mobile span {
	text-transform: uppercase
  }
  .nav-mobile .m-menu__checkbox {
	display: none;
  }
  .nav-mobile label.m-menu__toggle {
	cursor: pointer;
  }
  .nav-mobile svg {
	  stroke: white;
  }
  .nav-mobile li {
	  background-color: black;
	  color: white;

  }
  .nav-mobile .m-menu {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 450px;
	/* width: calc(100vw - 30px); */
	width: 100%;
	height: 100%;
	-moz-transform: translate3d(-450px, 0, 0);
	-o-transform: translate3d(-450px, 0, 0);
	-ms-transform: translate3d(-450px, 0, 0);
	-webkit-transform: translate3d(-450px, 0, 0);
	transform: translate3d(-450px, 0, 0);
	-moz-transition: transform 0.35s;
	-o-transition: transform 0.35s;
	-webkit-transition: transform 0.35s;
	transition: transform 0.35s;
	z-index: 1;
	overflow: hidden;
	background-color:black;
  }
  .nav-mobile .m-menu__overlay {
	background-color: rgba(103, 103, 103, 0.5);
	position: absolute;
	top: 0;
	width: 100%;
	bottom: 0;
	z-index: 1;
	display: none;
  }
  .nav-mobile .m-menu__header {
	padding: 0 16px;
	height: 50px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-ms-flex-pack: space-around;
	-webkit-align-items: center;
	align-items: center;	
	background: black;
	color: white;
  }
  .nav-mobile .m-menu__header span {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: right;
	width: 100%;
  }
  .nav-mobile .m-menu .m-menu {
	-moz-transform: translate3d(480px, 0, 0);
	-o-transform: translate3d(480px, 0, 0);
	-ms-transform: translate3d(480px, 0, 0);
	-webkit-transform: translate3d(480px, 0, 0);
	transform: translate3d(480px, 0, 0);
  }
  .nav-mobile .m-menu ul {
	height: 100%;
	padding-left: 0px;
	overflow-y: auto;
	list-style-type: none;
	padding: 0 0 0 45px;
  }
  .nav-mobile .m-menu ul li a, .nav-mobile .m-menu ul li label {
	display: block;
	text-align: left;
	/* padding: 0 45px; */
	line-height: 47px;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.2rem;
	position: relative;
  }
  .nav-mobile .m-menu ul li label.a-label__chevron::after {
	content: "";
	position: absolute;
	display: inline-block;
	height: 14px;
	width: 14px;
	border-style: solid;
	border-width: 3px 3px 0 0;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	margin-top: -5px;
	right: 40px;
  }
  .nav-mobile .m-menu ul li .-invisible {
	border-bottom: 0;
  }
  .nav-mobile .m-menu .m-menu label.m-menu__toggle {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	border-bottom: 0;
	padding: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
  }
  .nav-mobile .m-menu__checkbox:checked ~ .m-menu__overlay {
	display: block;
  }
  .nav-mobile .m-menu__checkbox:checked ~ .m-menu {
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
 .wrapper-mobile {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	background-color: transparent;
	position: relative;
	display: none;
  }
   /* 
  body {
	background-color: #f1f1f1;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
  } */
/* ======================= */

@media only screen and (max-width: 1024px) {
	.dropdown {
		padding: 13px 25px;
	}
	.menu {
		padding: 0px 17px;
	}
	.hamburger-desktop {
		width: 50px;
		height: 50px;
		right: 1%;
	}
}

@media only screen and (max-width: 768px) {
	.nav-desktop {
		display: none !important;
	}
	.menu-desktop {
		display: none !important;
	}
	.hamburger-desktop {
		display: none !important;
	}
	.wrapper-mobile {
		display: flex !important;
	}
}